@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or a similar global stylesheet */
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;      /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@font-face {
  font-family: 'LinuxLibertine';
  src: url('/web-client/public/fonts/LinLibertine_R.ttf') format ('truetype');
  font-weight: normal;
  font-style:normal
}